/* This is the styling sheet for this project to add designss */
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(55, 165, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* This is some general styling stuff for the entire project... */

/* This is for the empty container to hold the image... */
.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  background-color: aqua;
  border: 2px solid black;
}

/* This is for the background image in the container */
.fill {
  background-image: url("https://source.unsplash.com/random/150x150");
  width: 147px;
  height: 147px;
  cursor: pointer;
}

/* This is for holding up the images */
.hold {
  border: 5px solid #ccc;
}

/* This is for the empty box's style when an image is hovered on it... */
.hovered {
  background-color: #333;
  border-style: dashed;
  border-color: whitesmoke;
}

/* This is the for the responsiveness of the project... */
@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
