* {
  box-sizing: border-box;
}

body {
  background-color: rgb(55, 165, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  background-color: aqua;
  border: 2px solid black;
}

.fill {
  background-image: url("https://source.unsplash.com/random/150x150");
  width: 147px;
  height: 147px;
  cursor: pointer;
}

.hold {
  border: 5px solid #ccc;
}

.hovered {
  background-color: #333;
  border-style: dashed;
  border-color: whitesmoke;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
